include:
  - project: 'kxb/ci_template'
    ref: main
    file: 'docker/kaniko.yml'
variables:
  REGISTRY_PROJECT_PATH: "gitlab/CCB"
  FINAL_IMAGE_NAME: "CCB"
  REGISTRY: $CI_REGISTRY
  REGISTRY_USER: $CI_REGISTRY_USER
  REGISTRY_PASSWORD: $CI_REGISTRY_PASSWORD
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  REGISTRY_HOST_IP: "10.10.3.14"
  CACHE_REPO: "$CI_REGISTRY/$REGISTRY_PROJECT_PATH/cache"

