stages:
  - test
test:
  stage: test
  image: docker.cat/docker/python:3.12
  variables:
    GITLAB_USER_NAME: stupidfish
    CI_PERSONAL_ACCESS_TOKEN: $GITLAB_TOKEN
    CI_RUNNER_TAGS: "test-k8s"
  before_script:
    - python -m pip install --upgrade pip -i https://mirrors.aliyun.com/pypi/simple/ --root-user-action=ignore
    - pip install --upgrade setuptools wheel setuptools_scm twine -i https://mirrors.aliyun.com/pypi/simple/
  script:
    - pip install . -i https://mirrors.aliyun.com/pypi/simple/
    - check-topic