
stages:
  - test
test:
  stage: test
  image: gitlab.cyberspike.top:5050/docker/python:3.12
  variables:
    GITLAB_USER_NAME: stupidfish
    CI_PERSONAL_ACCESS_TOKEN: $GITLAB_TOKEN
  before_script:
    - python -m pip install --upgrade pip -i https://mirrors.aliyun.com/pypi/simple/ --root-user-action=ignore
    - pip install --upgrade setuptools wheel setuptools_scm twine -i https://mirrors.aliyun.com/pypi/simple/
  script:
    - pip install . -i https://pypi.tuna.tsinghua.edu.cn/simple
    - check-topic
  tags:
    - docker