
stages:
  - test
test:
  stage: test
  image: gitlab.cyberspike.top:5050/docker/python:3.12
  variables:
    GITLAB_USER_NAME: stupidfish
    CI_PERSONAL_ACCESS_TOKEN: $GITLAB_TOKEN
  before_script:
    - git config --global credential.helper store
    - python -m pip install --upgrade pip -i https://pypi.tuna.tsinghua.edu.cn/simple
  script:
    - pip install . -i https://pypi.tuna.tsinghua.edu.cn/simple
    - check-topic
  tags:
    - docker