build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: "1"
    DOCKER_CERT_PATH: "/certs/client"
  before_script:
    - echo "$REGISTRY_PASSWORD" | docker login docker.cat -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - IMAGE_TAG="docker.cat/gitlab/$CI_PROJECT_PATH_SLUG:$CI_COMMIT_SHORT_SHA"
    - docker build -t "$IMAGE_TAG" .
    - docker push "$IMAGE_TAG"